.score-title {
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: .25rem;
}

.score-correct-total {
  font-size: 2rem;
  margin-top: -10px;
  margin-bottom: 50px;;
}

.line {
  width: 100%;
  border: double 2px black;
  margin-top: 50px;
}

.score-question {
  margin-top: -10px;
  font-size: 1.75rem;
}

.answer-prompt {
  font-size: 1.5rem;
}

.score-correct {
  color: green;
  font-size: 2rem;
}

.score-incorrect {
  color: red;
  font-size: 2rem;
}


/* .ques-submit-btn { */
  /* margin-top: -10px; */
  /* margin-bottom: 50px; */
/* } */