.ques-title {
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question-list {
  margin-top: 50px;
}

.ques-category {
  font-size: 1.25rem;
  margin-top: -10px;
  margin-bottom: -20px;
}

.line {
  width: 100%;
}

.ques-question {
  margin-top: -10px;
  font-size: 1.75rem;
}

.ques-answers {
  color: black;
}

.ques-submit-btn {
  margin-bottom: 70px;
}